arichuvadi==0.0.4
asttokens==2.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
idna==3.6
ipython==8.21.0
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pypng==0.20220715.0
qrcode==7.4.2
qrcode-artistic==3.0.2
requests==2.31.0
segno==1.6.0
sengo==0.0.2
six==1.16.0
stack-data==0.6.3
traitlets==5.14.1
typing_extensions==4.9.0
urllib3==2.2.0
wcwidth==0.2.13
